body{
    background-color: antiquewhite;
}

header{
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav{
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


